*{
    font-family: 'Poppins', sans-serif;

}

.headings{
    width: 100%;
    height: 12vh;
    background-color: #ffffff;
    box-shadow: 0px 1px 20px  black;
   display: flex;
   align-items: center;
   justify-content: space-around;
   /* position: fixed; */
   z-index: 1;
}
.personal{
    display: flex;
}
.input1{
    height: 2rem;
    width: 15rem;
    outline: none;
    border: none; 
    color: black;
}
.input_box{
    height: 3rem;
    width: 18rem;
    background-color:#ffffff;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    border-radius: 17px;
    padding-left: 10px;
}
.log_in{
    height: 3rem;
    width: 9rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid black;  
    transition: 0.5s ;
    font-weight: 600;
    cursor: pointer;
}
.log_in:hover{
    border: 2px solid gold;
    background-color: gold;    
    color: #ffffff;
    font-size: large;
}
.sign_in{
    height: 3rem;
    width: 9rem;
    background-color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    color: #ffffff;
    transition: 0.5s ;
    border: 2px solid gold;
    font-weight: 600;
    cursor: pointer;
}
.sign_in:hover{
    border: 2px solid gold;
    background-color: #ffffff;  
    color: gold;
    font-size: large;
}
.personal{
    width: 10rem;
    height: 3rem;
    align-items: center;
    justify-content: space-around;
}

.dropdown {
    position: relative;
    display: inline-block;
  }


    /* Style the button that triggers the dropdown */
    .dropdown-btn {
        padding: 10px;
        border: none;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);
      }
  
      /* Style the dropdown content (hidden by default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f99a;
        backdrop-filter: blur(10px);
        min-width: 250px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        z-index: 2;
      }
  
      /* Style the dropdown items */
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
  
      /* Change color on hover */
      .dropdown-content a:hover {
        background-color: #ffc8006b;
        border-left: 4px solid #FFC700;
      }
  
      /* Show the dropdown content when hovering over the button */
      .dropdown:hover .dropdown-content {
        display: block;
      }

      .hero_wordings{
        position: absolute;
        z-index: 1;
        font-size:27px;
        font-style: oblique;
        top: 100px;
        left: 50px;

      }
      

        /* hero_area container slider */
      .hero-container {
        width: 100%;
        background-color: #FFC700;
        overflow: hidden;
    }
  
    .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }
    
    .slide {
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    
    .slide img {
        width: 60%;
        height: 90vh;
        object-fit: contain;
    }

   .wordings1{
    height: 5rem;
    width: 60%;
    margin:  10px auto;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 0 15px;
  
   }


   /* slider box */
    .slider-box {
       width: 100%; 
      overflow: hidden;
  }
  
  .slider2 {
      display: flex;
      /* height: 100%; */
      width: 510vh;
      padding: 5px 0;
      transition: transform 0.5s ease-in-out;
  }
  
  .slider2 img {
      width: 100%;
      height: auto;
  }

  .image_box{
    height: 20rem;
    box-shadow: 0 5px 10px black;
    width: 15rem;
    /* border: 1px solid black; */
    margin: 0 10px;
    display: flex;
    align-items: end;
    border-radius: 10px;
    background-color: #FFC700;
  }
  .inner_box{
    /* border: 1px solid black; */
    height: 6rem;
    width: 15rem; 
    background-color: #fff;
    border-radius: 0 0 10px 10px;
  }
  .vector_parent1{
    height: 3rem;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 15px;
  }
  
  .first_Vector_box1{
    height: 3rem;
    width: 3rem;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    background-color: rgb(202, 199, 199);
    
  }

  .first_Vector_box2{
    height: 3rem;
    width: 3rem;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    background-color: rgb(202, 199, 199);
    
  }
  .view_box1{
    border: 3px solid #FFC700;
    height: 4rem;
    width: 14rem;
    margin: 20px auto;
    font-size: x-large;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    cursor: pointer;
  }

  
  .wordings2{
    height: 5rem;
    width: 60%;
    margin:  5rem auto;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 0 15px;
  
   }

   .vector_parent2{
    height: 3rem;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 15px;
  }

  .second_Vector_box1{
    height: 3rem;
    width: 3rem;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    cursor: pointer;
    background-color: rgb(202, 199, 199);
    
  }
  
  .second_Vector_box2{
    height: 3rem;
    width: 3rem;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    cursor: pointer;
    background-color: rgb(202, 199, 199);
    
  }
  .second_Vector_box1:hover, .second_Vector_box2:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .first_Vector_box1:hover, .first_Vector_box2:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }


  .christmas_box{
    height: 20rem;
    box-shadow: 1px 5px 10px black;
    width: 15rem;
    margin: 0 10px;
     /* display: flex; 
    align-items: end; */
    border-radius: 10px;
    background-color: #FFC700;

  }

  .christmas_child{
    /* width: 100%; */
    display: flex; 
    margin: 15px 0;
    /* border: 1px solid black; */
    transition: transform 0.5s ease-in-out;
  }

 .christmas_parent{
  /* border: 1px solid black; */
    width: 100%;
    /* display: flex;  */
    /* height: 23rem; */
   overflow: hidden;
   padding: 15px 0;

 }   

  .inner_box2{
  /* border: 1px solid black; */
  height: 6rem;
  width: 15rem; 
  background-color: #f6f3f3;
  margin-top: 95%;
  border-radius: 0 0 10px 10px;
 } 

 .view_box2{
  border: 3px solid #FFC700;
  height: 4rem;
  width: 14rem;
  margin: 20px auto;
  font-size: x-large;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  cursor: pointer;
 }

 .wordings3{
  height: 5rem;
  width: 60%;
  margin:  1rem auto;
  /* padding: 0 15px; */
 }


.parent_cart{
  /* height: 70vh; */
  width: 90%;
  padding: 15px 0;
  display: grid;
  margin: 0 auto;
  gap: 1rem;
  background-color: whitesmoke;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  border-radius:20px;
}
.child_cart{
 height: 280px;
 width: 250px;
  border: 1px solid #FFC700;
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: #fff;
  margin: 0 auto;
  border-radius:20px;
  box-shadow: 0 2px 10px black;
  transition: 0.5s;
}
.child_cart:hover{
  height: 300px;
  width: 260px;
  background: rgba(0, 0, 0, 0.096);
}
.cart_words{
  margin-top: 25%; 
  font-weight: bold;
  text-decoration: none;
  color: #000105;
}
.child_cart img{
  height: auto;
  width: auto;
}
.box_grid_parent{
  width: 90%;
  padding: 15px 0;
  display: grid;
  margin: 30px auto;
  grid-template-columns: repeat(3,1fr);

}
.box_grid{
  height: 200px;
  width: 300px;
   margin: 0 auto;
   text-align: center;
}
a{
  text-decoration: none;
  color: #000105;
}

.box_grid a p{
  font-size: small;
  font-weight: bold;
}
.box_grid:hover{
  border: 1px solid #FFC700;
}

footer{
  height: 300px;
  width: 100%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  background-color: #000105;
  color: #fff;
}
.foot{
  height: 100%;
  width: 250px;
  margin: 0 auto;
  text-align: center;
}
.input_box2{
  height: 2.5rem;
  width: 13rem;
  /* background-color:#ffffff; */
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content:flex-start;
  border-radius: 5px;
  margin: 0 auto;
}
.input_box2 input{
  outline: none;
  border: none;
  color: #f6f3f3;
  background-color: #000105;
}
.qr_box{
  height: 90px;
  width: 90px;
  margin-top: 5px;
  display: inline-block;
  background-color: rgb(189, 188, 188);
}

.qr_parent{
  margin: 0 auto;
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-around;


}
.app_icon{
  width: 7rem;
  height: 50%;
  color: #fff;
  border: 1px solid rgb(255, 255, 255);
  display: inline-block;
  margin-top: 5px;
  padding: auto;
  border-radius: 5px;
}

.social_icon{
  width: 80%;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}
.flex_box{
  width: 7rem;
  height: 5rem;
}
ul{
  list-style: none;
}

.input_box2 input::placeholder{
  color: #fff;
}

















































    
   




    



  
  
  
